@model TheS.eExam.DSDAdminRequest.DSA.EF.AdminRequest

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-horizontal col-md-6 block-center">
            <h2>ยื่นคำขอเริ่มเปิดระบบ</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">รายละเอียด</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            </ul>
            <div class="tab-content" style="min-height:350px">
                <br>
                @*============================================ Tab 1 ============================================*@
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TitleName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.TitleName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TitleName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PID, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.IsApproved, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsApproved)
                                    @Html.ValidationMessageFor(model => model.IsApproved, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("BranchId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProvinceId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("ProvinceId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProvinceId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @*============================================ Tab 2 ============================================*@
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.LabelFor(model => model.ClientAccounts)</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>


            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="ยื่นคำร้อง" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
